@import '../../styles/variables.scss';

.downloadApp {
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: $gap-2s;

    padding: 0 0 $gap-s;
    border-radius: $border-radius-xs;
    background: $neutral-gray-1;

    .buttons {
        display: flex;
    }

    .download {
        padding: 0 $gap-2xs $gap-s;
        border-bottom: $gap-5xs solid $character-light-dividers;

        p {
            margin: 0 $gap-m;
            color: $character-light-secondary-45;
        }
    }
}

@media (max-width: 830px) {
    .downloadApp {
        align-items: center;
        width: 330px;
        .buttons {
            width: 100%;
            justify-content: space-around;
        }
    }
}
