@import '../../../../index.variables.scss';

.DrawerTariff {
    font-family: Inter;

    .Traits {
        display: flex;
        flex-direction: column;
        gap: $gap-s;
        padding-bottom: $gap-7xl;
    }

    .Trait {
        display: flex;
        justify-content: end;

        svg {
            font-size: 18px;
        }
    }

    .Buttons {
        padding-top: $gap-7xl;
        display: flex;
        gap: $gap-2m;
        justify-content: end;
        margin-bottom: $gap-xl;
    }

    .Title {
        margin-right: auto;
    }

    .LastTrait {
        margin-left: $gap-7xl;
        margin-right: $gap-m;
    }

    .Tariff {
        padding: $gap-3xs $gap-s;
        font-size: $font-size-xs;
        line-height: $font-line-xs;
    }

    .Tariff:first-child {
        background-color: $neutral-gray-4;
    }

    .Tariff:last-child {
        background-color: $primary-light-1;
        color: $primary-light-7;
    }

    .CloseCircle {
        color: $character-light-disable-25;
    }

    :global(.ant-drawer-title) {
        font-size: $font-size-l;
    }

    :global(.ant-drawer-header),
    :global(.ant-drawer-footer) {
        border: 0;
        padding: $gap-xl $gap-4xl $gap-m;
    }

    :global(.ant-drawer-body) {
        padding: 0 $gap-4xl;
    }

    :global(.ant-btn) {
        padding: $gap-l;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    :global(.ant-drawer-close) {
        position: absolute;
        right: $gap-2m;
    }
}
