@import '../../../../index.variables.scss';

.JointTrainingModal {
    .UserInfo {
        width: 239px;
        display: flex;
        gap: $gap-xs;
        font-size: $font-size-s;
        color: $character-light-title-85;
    }

    :global(.ant-modal) {
        width: 570px !important;
    }

    :global(.ant-modal-body) {
        display: flex;
        gap: $gap-xl;
        flex-direction: column;
        padding: $gap-6xl $gap-4xl;
    }

    .Block {
        display: flex;
        align-items: center;
    }

    .Status {
        width: 239px;
        display: flex;
        gap: $gap-xs;
    }

    .Trainings {
        display: flex;
        flex-direction: column;
        gap: $gap-2xs;

        .Training {
            display: flex;
            align-items: center;
            gap: $gap-s;

            .TrainingInfo {
                font-size: $font-size-s;
                font-weight: $font-weight-l;
                line-height: $font-line-s;
                color: $primary-light-6;
            }

            .TrainingType {
                width: 110px;
                font-size: $font-size-xs;
                font-weight: $font-weight-xs;
                line-height: $font-line-xs;
                color: $character-light-secondary-45;
            }
        }
    }
}
