@import '../../../../styles/variables.scss';

.activityBlock {
    display: flex;
    align-items: center;
    gap: $gap-xl 151px;
    padding-top: $gap-s;

    .column {
        max-width: 520px;
        width: 100%;
        height: 376px;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
    }

    @media (max-width: 1000px) {
        flex-direction: column;

        .column {
            max-width: 100%;
        }
    }

    @media (max-width: 830px) {
        padding: 0;

        .column {
            height: 236px;
        }
    }
}

.activityBlockFullSize {
    flex-direction: column;
    align-items: flex-end;

    .column {
        max-width: 100%;
    }
}
