@import '../../../../styles/variables.scss';

.tariffSuccessModal {
    font-family: $font-family-main;
    color: $character-light-secondary-45;

    :global(.ant-modal-body) {
        padding: $gap-8xl $gap-4xl 56px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: $gap-xl;
        text-align: center;
        line-height: $font-line-s;
    }

    h3 {
        margin-bottom: 0;

        .email {
            font-weight: 700;
        }
    }

    .icon {
        font-size: 80px;
        margin: 0 auto;
        color: $primary-light-6;
    }

    @media (max-width: 830px) {
        h3 {
            margin: 0 $gap-7xl;
        }
        .bottom {
            margin: 0 $gap-l;
        }

        :global(.ant-modal-body) {
            padding: $gap-4xl $gap-m;
        }
    }
}
