@import '../../../../styles/variables.scss';

.exercise {
    margin-top: $gap-3xl;

    .wrapper,
    .inputWrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: self-end;
        margin-top: $gap-3xs;
    }

    .inputWrapper {
        width: 195px;
    }

    .exerciseName {
        display: flex;
    }

    .checkbox {
        width: 40px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $neutral-gray-5;
        background: $neutral-gray-2;
    }

    .label {
        width: 90px;
    }
    .multi {
        height: 24px;
        color: $neutral-gray-6;
        transform: rotate(45deg);
    }

    .inputReplays,
    .labelReplays {
        width: 120px;
    }

    .inputReplays {
        width: 100%;
    }

    .label,
    .labelReplays {
        height: $gap-xl;
        padding: $gap-3xs $gap-xs;
        background: $character-light-dividers;
        font-size: $font-size-xs;
    }

    :global(.ant-input-number-input),
    .InputReplays,
    .Input {
        height: 24px;
    }
}
