@import '../../../../styles/variables.scss';

.options {
    max-width: 505px;
    display: flex;
    flex-direction: column;
    gap: $gap-2xs;
    padding: $gap-5xl 0;

    .option {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            display: flex;
            align-items: center;
            gap: $gap-3xs;
            font-weight: $font-weight-xl;
        }

        .icon {
            font-size: $font-size-m;
            color: $character-light-secondary-45;
            cursor: pointer;
        }

        .disabled {
            color: $character-light-disable-25;
        }

        :global(.ant-form-item) {
            margin: 0;
        }
    }

    @media (max-width: 830px) {
        .title {
            align-items: start;
            max-width: 197px;
        }
    }
}
