@import '../../styles/variables.scss';

.trainingForm {
    display: flex;
    flex-direction: column;
    gap: $gap-xs;
    margin-top: $gap-xl;

    .partner {
        display: flex;
        justify-content: space-between;
        align-items: end;

        .userInfo {
            display: flex;
            gap: $gap-xs;
            font-size: $font-size-s;
            color: $character-light-title-85;
        }
    }

    .period {
        display: flex;
        justify-content: space-between;
        margin-top: $gap-m;
    }

    .inputWrapper {
        width: 156px;
    }

    :global(.ant-picker) {
        height: 28px;
    }
}
.disabledDate {
    background: $primary-light-1;
}
