@import '../../index.variables.scss';
@import '../../index.global.scss';

.container {
    margin: 0 auto $gap-xl;
}

.character {
    width: 40px;
    height: 40px;
    border-radius: $border-radius-xs;
    border: $gap-5xs solid $neutral-gray-5;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: $font-size-s;
}

.characterError {
    border: $gap-5xs solid $character-light-error;
}

.characterInactive {
    background: none;
}

.characterSelected {
    border: none;
}
