@import '../../index.variables.scss';
@import '../../index.global.scss';

.container {
    margin: 0 auto 24px;
}

.character {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid $neutral-gray-5;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
}

.characterError {
    border: 1px solid $character-light-error;
}

.characterInactive {
    background: none;
}

.characterSelected {
    border: none;
}
