@import '../../index.variables.scss';

.menu {
    background: $neutral-gray-1;
    transition: all 0.2s;
}

.menuWrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menuWrapperItem {
    display: flex;
    flex-direction: column;
    gap: $gap-2xs;

    span {
        color: $primary-light-9;
    }
}

.menuWrapperCollapsed {
    padding-left: $gap-2m;
}

.logoWrapper {
    display: flex;

    margin: 45px 0 55px 18px;
}

.logo {
    background: url('../../assets/icons/logo.png') no-repeat center / cover;
    width: 134px;
    height: 34px;
    transition: all 0.2s;
}

.logoSmall {
    background: url('../../assets/icons/logo-small.png') no-repeat center / cover;
    width: 30px;
    height: 34px;
    transition: all 0.2s;
}

.btnClose {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) rotate(90deg);
    right: -55px;
    background: transparent;
    padding: $gap-2s$gap-2xs;
    height: 0;
    width: 80px;
    border-bottom: $gap-3xl solid $neutral-gray-1;
    border-left: $gap-2m solid transparent;
    border-right: $gap-2m solid transparent;

    button {
        color: $neutral-gray-7;
    }
}

.siderBtn {
    position: absolute;
    top: 15px;
    left: 10px;
    transform: rotate(-90deg);
}

.exitWrapper {
    border-top: $gap-5xs solid $character-light-dividers;
    padding: $gap-2s 0 0;
}

.exit {
    display: flex;
    align-items: center;
    gap: $gap-l;
    font-size: $font-size-s;
    font-weight: $font-weight-xs;
    line-height: $font-line-s;
    color: #262626;
    margin-bottom: $gap-s;
    padding-left: $gap-3xs;
}

.exitImg {
    margin-left: $gap-2s;
}

.hide {
    opacity: 0;
}

.open {
    transition: 1s;
    opacity: 1;
}

@media (max-width: 830px) {
    .menu {
        position: fixed !important;
        top: 0;
        left: 0;
        z-index: 4;
        height: 100vh;

        .menuWrapperItem {
            gap: 0;

            li {
                padding: 0;

                span:first-child {
                    display: none;
                }
            }
        }

        .menuWrapperCollapsed {
            padding-left: 0;
        }

        .logoWrapper {
            margin: $gap-m 0 $gap-2xl $gap-m;

            .logo {
                width: 72px;
                height: 18px;
            }
        }
    }

    .exitImg,
    .exitImgHide {
        display: none;
    }

    .exit {
        padding-left: $gap-2m;
    }

    .btnClose {
        top: 6%;
    }
}
