@import '../../../../index.variables.scss';

.DrawerExercises {
    font-family: Inter;

    :global(.ant-drawer-content-wrapper) {
        width: 408px !important;
    }

    :global(.ant-drawer-header) {
        padding: $gap-xl $gap-4xl $gap-m;
    }
    :global(.ant-drawer-close) {
        padding: 0;
        margin-right: $gap-xs;
    }

    :global(.ant-drawer-title) {
        font-size: $font-size-l;
    }

    :global(.ant-drawer-body) {
        padding: 0 $gap-4xl 0;
    }

    .Status {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .Buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $gap-xs 4px;
        margin-top: $gap-xl;
        border-radius: 0 0 $border-radius-m $border-radius-m;
        background-color: $character-light-dividers;
    }
}
