@import '../../index.variables.scss';

.authorizationLayout {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: url('../../assets/images/authorization.jpg') center / cover;

    &:after {
        position: absolute;
        z-index: 1;
        content: '';
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(121, 156, 212, 50%);
        backdrop-filter: blur(5px);
    }

    .authorizationLayoutWrapper {
        position: relative;
        z-index: 2;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 64px 85px;
        margin: 0 16px;
        max-width: 539px;
        width: 100%;

        background: $neutral-gray-1;
    }
}

@media (max-width: 830px) {
    .authorizationLayout {
        .authorizationLayoutWrapper {
            padding: 32px 16px;
        }
    }
}
