@import '../../../../styles/variables.scss';

.badgeCustomWrapper {
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    :global(.ant-badge-status-text) {
        font-size: $font-size-xs;
    }

    .badgeCustomDisabled {
        :global(.ant-badge-status-text) {
            color: $neutral-gray-6;
        }
    }

    .exerciseText {
        color: $neutral-gray-7;
    }
}
