@import '../../../../index.variables.scss';

.BadgeCustomWrapper {
    height: 18px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $gap-s;

    :global(.ant-badge-status-text) {
        font-size: $font-size-xs;
    }
}
