@import '../../../../index.variables.scss';

.TableExercises {
    .TrainingType {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: $font-size-s;
        }
    }

    .EditButton {
        font-size: $font-size-xl-tablet;
    }

    :global(.ant-table-tbody) {
        :global(.ant-table-cell),
        :global(.ant-btn) {
            padding: 0 $gap-2xs !important;
        }
    }
}
