@import '../../index.variables.scss';

footer,
header,
.Main {
    padding: 0 $gap-xl;
}

.MainLayout {
    display: flex;
    background: url('../../assets/images/main-page.jpg') center / cover;

    .Wrapper {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;

        .Main {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            padding-top: $gap-xl;
            padding-bottom: $gap-6xl;
        }

        .MainSecond {
            padding: 0;
        }
    }
}
