@import '../../index.variables.scss';

.MainLayout {
    display: flex;
    background: url('../../assets/images/main-page.jpg') center / cover;

    .Wrapper {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;

        .Main {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            padding-top: $gap-xl;
            padding-bottom: $gap-xl;
        }
    }
}
