@import '../../styles/variables.scss';

footer,
header,
.Main {
    padding: 0 $gap-xl;
}

.mainLayout {
    min-height: 100vh;
    display: flex;
    background: url('../../assets/images/main-page.jpg') center / cover;

    .wrapper {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;

        .main {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
        }

        .mainThird {
            padding: 0;
        }

        .mainSecond,
        .mainFourth,
        .mainFifth {
            padding: $gap-xl $gap-xl $gap-6xl;
        }

        .mainFifth {
            background: $neutral-gray-3;
        }

        @media (max-width: 830px) {
            .mainFourth {
                padding: $gap-xl 0 $gap-6xl;
            }
        }
    }
}
