@import '../../index.variables.scss';

.header {
    padding-top: $gap-2m;
    padding-bottom: $gap-2m;

    background: $primary-light-1;

    .title {
        max-width: 1000px;
        padding-top: $gap-2xs;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: $gap-3xs;
    }

    .containerRight {
        justify-content: flex-end;
    }
}

@media (max-width: 1000px) {
    .header {
        button {
            span:first-child {
                display: none;
            }
        }
    }
}

@media (max-width: 830px) {
    .header {
        padding-top: $gap-2m;

        button {
            width: 32px;
            height: 32px !important;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
            background: $neutral-gray-1;

            span:first-child {
                display: block;
            }

            span:last-child {
                display: none;
            }
        }

        .title {
            max-width: 1000px;
            padding-top: 0;
        }
    }
}
