@import '../../../../styles/variables.scss';

.profileForm {
    max-width: 480px;

    :global(.ant-typography) {
        margin-bottom: $gap-xl;
    }

    .personal {
        display: flex;
        gap: $gap-2m;
        margin-bottom: $gap-l;
    }

    .personalInputs {
        flex: 1 0;
        display: flex;
        flex-direction: column;

        :global(.ant-form-item) {
            margin-bottom: $gap-m;
        }
    }

    :global(.ant-form-item-with-help) {
        margin-bottom: $gap-7xl;
    }

    .datepicker {
        width: 100%;
    }

    .profileButton {
        margin-top: $gap-l;
    }

    @media (max-width: 830px) {
        .personal {
            flex-direction: column-reverse;
            gap: 0;
            margin-bottom: $gap-4xs;
        }

        .profileButton {
            margin-top: $gap-m;
            width: 100%;
        }

        :global(.ant-typography) {
            margin-bottom: $gap-l;
        }
    }
}
