@import '../../styles/variables.scss';

.mainPage {
    display: flex;
    flex-direction: column;
    gap: $gap-m;
    max-width: 752px;

    font-size: $font-size-m;
    line-height: $font-line-xs;

    .about {
        display: flex;
        flex-direction: column;
        gap: $gap-xl;

        .goals {
            color: $primary-light-9;
        }
    }

    .card {
        padding: $gap-xl;
        border-radius: $border-radius-xs;
        background: $neutral-gray-1;
    }

    .cards {
        display: flex;
        gap: $gap-m;

        p {
            border-bottom: $gap-5xs solid $character-light-dividers;
            padding: 0 $gap-l $gap-s;
        }

        div {
            max-width: 240px;
            width: 100%;
            padding: $gap-s 0;
            display: flex;
            flex-direction: column;
            gap: $gap-s;
            text-align: center;
            background: $neutral-gray-1;
        }

        button {
            color: $primary-light-6;
        }
    }
}

@media (max-width: 900px) {
    .cards {
        p {
            text-align: left;
        }
    }
}

@media (max-width: 830px) {
    .mainPage {
        .card {
            padding: $gap-m;
        }

        .cards {
            flex-direction: column;
            align-items: center;
            gap: $gap-xs;

            p {
                text-align: center;
            }

            div {
                max-width: 330px;
            }
        }
    }
}
