@import '../../../../styles/variables.scss';

.emptyWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .emptyImage {
        height: $gap-4xl;
        width: $gap-4xl;
        margin: auto;
    }
}
