@import '../../styles/variables.scss';

.feedbacksWrapper {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - $gap-15xl);
    :global(.ant-btn) {
        height: 40px;
    }

    :global(.ant-modal-wrap) {
        :global(.ant-btn) {
            height: 40px;
        }
    }

    .feedbacks {
        display: flex;
        flex-direction: column;
        gap: $gap-l;
    }

    .feedbacksAll {
        overflow: scroll;
    }

    .feedbacksAll::-webkit-scrollbar {
        display: none;
    }

    .buttons {
        display: flex;
        gap: $gap-xs;
        margin-top: $gap-15xl;
    }

    @media (max-width: 830px) {
        .buttons {
            flex-direction: column;
            gap: $gap-m;
            margin-top: $gap-7xl;
        }
    }
}
