@import '../../styles/variables.scss';

.authorizationLayout {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: url('../../assets/images/authorization.jpg') center / cover;

    &:after {
        position: absolute;
        z-index: 1;
        content: '';
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        background-color: $background;
        backdrop-filter: blur(5px);
    }

    .authorizationLayoutWrapper {
        position: relative;
        z-index: 2;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $gap-8xl $gap-10xl;
        margin: 0 $gap-m;
        max-width: 539px;
        width: 100%;

        background: $neutral-gray-1;
    }
}

@media (max-width: 830px) {
    .authorizationLayout {
        .authorizationLayoutWrapper {
            padding: $gap-4xl $gap-m;
        }
    }
}
