@import '../../../../index.variables.scss';

.TrainingList {
    width: 50%;

    @media (max-width: 900px) {
        width: 100%;
    }

    @media (max-width: 830px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: $font-size-xs;
    }
}

.AddButton {
    margin-top: $gap-9xl;

    @media (max-width: 830px) {
        width: 100%;
    }
}
