@import '../../styles/variables.scss';

.modalRequestError:global.ant-modal {
    max-width: 416px;
    width: 100% !important;

    animation-duration: 0s;

    :global(.ant-modal-body) {
        padding: $gap-4xl $gap-4xl $gap-xl;
    }

    :global(.ant-modal-confirm-btns) {
        margin-top: $gap-2s;
    }
    :global(.ant-btn-primary) {
        height: $gap-3xl;
        width: 100px;
        line-height: 1;
    }
}
