@import '../../../../styles/variables.scss';

.feedbackCard {
    :global(.ant-card-body) {
        padding: $gap-m !important;
    }
}

.feedbackWrapper {
    display: flex;
    gap: $gap-s;
}

.profileInfo {
    min-width: 174px;
    height: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-s;

    h6 {
        color: #262626;
        font-weight: $font-weight-l;
        text-align: center;
    }
}

.description {
    display: flex;
    flex-direction: column;
    gap: $gap-s;
}

.message {
    max-width: 950px;
    color: $neutral-gray-7;
    word-wrap: break-word;

    line-height: $font-line-s;
}

.rating {
    height: 16px;
    display: flex;
    align-items: center;
    gap: $gap-m;
}

.date {
    font-size: $font-size-xs;
    color: $neutral-gray-6;
}

.rate {
    :global(.ant-rate-star:not(:last-child)) {
        margin-right: $gap-3xs;
    }

    svg {
        height: 16px;
        width: 16px;
    }
}

@media (max-width: 830px) {
    .feedbackWrapper {
        flex-direction: column;
    }

    .profileInfo {
        height: 42px;
        flex-direction: row;
    }
}
