@import './index.variables.scss';

#root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    box-sizing: border-box;
}

footer,
header,
main {
    padding: 0 24px;
}

h1,
h4,
p {
    margin: 0;
}

h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 49px;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}

@media (max-width: 900px) {
    h1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 31px;
    }
}

@media (max-width: 830px) {
    footer,
    main {
        padding: 0 16px;
    }

    h1 {
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
    }
}
