@import './index.variables.scss';

#root {
    font-family: $font-family-main;
    line-height: 1.5;
    font-weight: $font-weight-s;
}

body {
    box-sizing: border-box;
}

h1,
h4,
h6,
p {
    margin: 0;
}

h1 {
    font-size: $font-size-xl;
    font-weight: $font-weight-xl;
    line-height: $font-line-xl;
}

h3 {
    font-size: $font-size-xl-tablet;
    font-weight: $font-weight-xl-tablet;
    line-height: $font-line-xl-tablet;
    letter-spacing: 0;
}

h4 {
    font-size: $font-size-l;
    font-weight: $font-weight-l;
    line-height: $font-line-l;
}

h6 {
    font-size: $font-size-m;
    font-weight: $font-weight-m;
    line-height: $font-line-m;
}

@media (max-width: 900px) {
    h1 {
        font-size: $font-size-xl-tablet;
        font-weight: $font-weight-xl-tablet;
        line-height: $font-line-xl-tablet;
    }
}

@media (max-width: 830px) {
    footer,
    main {
        padding: 0 $gap-m;
    }

    h1 {
        font-size: $font-size-l;
        font-weight: $font-weight-l;
        line-height: $font-line-l;
    }
}
