@import './index.variables.scss';

.bodyStrong {
    font-weight: $font-weight-xl;
}

.ant-drawer-mask {
    background: transparent;
}

.ant-modal {
    width: 540px !important;
    padding: 0 $gap-m;
    max-width: 100%;
}

.ant-modal-mask {
    backdrop-filter: blur(12px);
    background: #799cd41a;
}

.ant-result {
    width: 100%;
    padding: 0;
}

.ant-form-item {
    margin-bottom: $gap-4xl;
}

.ant-tabs-ink-bar {
    background: $primary-light-6;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-btn-link {
    color: $primary-light-6;
}

.ant-btn-primary {
    border-color: $primary-light-6;
    background: $primary-light-6;
}

.ant-result-title {
    font-weight: $font-weight-l;
    line-height: $font-line-l;
}

.ant-result-subtitle {
    line-height: $font-line-s;
}

.ant-form-item-explain {
    font-size: $font-size-xs;
}
