:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 253, 253, 0.8) 100%),
        url(<path-to-image>), lightgray 50% / cover no-repeat;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;

    min-width: 320px;
    min-height: 100vh;
    margin: 0;

    box-sizing: border-box;
}

#root {
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;

    margin: 0 auto;
}
h1,
h4,
p {
    margin: 0;
}

h1 {
    font-family: Inter;
    font-size: 38px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0;
    text-align: left;
}

h4 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
}

ul {
    padding-inline-start: 20px;
    margin: 0;
}

li {
    list-style-type: '— ';
}

footer,
header,
main {
    padding: 0 24px;
}

.body_regular {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}
