@import './index.variables.scss';

.bodyStrong {
    font-weight: 700;
}

.ant-result {
    width: 100%;
    padding: 0;
}

.ant-tabs-ink-bar {
    background: $primary-light-6;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-btn-link {
    color: $primary-light-6;
}

.ant-btn-primary {
    border-color: $primary-light-6;
    background: $primary-light-6;
}

.ant-result-title {
    font-weight: 500;
    line-height: 1;
}

.ant-result-subtitle {
    line-height: 1.2;
}

.ant-form-item-explain {
    font-size: 12px;
}
