@import '../../../../styles/variables.scss';

.userCard {
    width: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    .buttons {
        margin-top: $gap-m;

        .status {
            display: flex;
            justify-content: center;
            gap: $gap-xs;
            margin-top: $gap-2xs;

            .acceptedStatus {
                color: $character-light-success;
            }
            .rejectedStatus {
                color: $character-light-secondary-45;
            }
        }
    }

    .userInfo {
        display: flex;
        gap: $gap-xs;
        font-size: $font-size-s;
        color: $character-light-title-85;

        h6 {
            max-width: 50px;
        }
    }

    .trainings {
        margin-top: $gap-s;
        display: flex;
        flex-direction: column;
        gap: $gap-2xs;

        .training {
            display: flex;
            gap: $gap-s;

            .trainingInfo {
                font-size: $font-size-s;
                font-weight: $font-weight-l;
                line-height: $font-line-s;
                color: $primary-light-6;
            }

            .trainingType {
                width: 110px;
                font-size: $font-size-xs;
                font-weight: $font-weight-xs;
                line-height: $font-line-xs;
                color: $character-light-secondary-45;
            }
        }
    }

    @media (max-width: 830px) {
        width: 312px;
    }
}

.userCardSecond {
    height: 114px;
    background-color: $neutral-gray-1 !important;

    :global(.ant-card-body) {
        padding: $gap-s;
    }
}

.userCardThird {
    height: 194px;
    background-color: $primary-light-1 !important;

    :global(.ant-card-body) {
        padding: $gap-m $gap-m $gap-xs;
    }
}

.userCardFourth {
    background-color: $neutral-gray-2 !important;
}
