@import '../../../../index.variables.scss';

:global(.ant-upload-picture-card-wrapper) {
    width: auto;
}

.PreviewImage {
    width: 100%;
}

.UploadButton {
    border: 0;
    background: transparent;
}

.UploadText {
    margin-top: $gap-xs;
    color: $neutral-gray-7;
}
