@import '../../../../styles/variables.scss';

.inviteList {
    display: flex;
    flex-direction: column;
    padding: $gap-m $gap-xl;
    gap: $gap-m;
    background: $neutral-gray-2;

    :global(.ant-list-items) {
        display: flex;
        flex-direction: column;
        gap: $gap-xs;
    }

    .collapseButton {
        text-align: start;
    }

    @media (max-width: 830px) {
        padding: $gap-s;
    }
}
